.wrapper {
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;

    --search-height: 40px;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

.search {
    position: relative;
    width: 400px;
    height:var(--search-height);
}
.search-box {
    width: 334px;
    height: 100%;
    padding: 5px;
    border-radius: 40px 0 0 40px;
    border: 1px solid #ccc;

    input{
        flex: 1;
        height: 100%;
        font-family: Roboto, Noto, sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 24px;
        max-width: 100%;
        padding: 12px 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
        text-align: inherit;
        outline: none;
    }

    input:not(:placeholder-shown) ~ .clear-btn{
        display: block;
    }

    &::after{
        content: '';
        position: absolute;
        top: 9px;
        right: 52px;
        width: 1px;
        height: calc(var(--search-height) -18px);
        background-color: transparent;
        border: 1px solid #ccc;
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.clear-btn {
    min-width: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 66px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 40px 40px 40px 40px;
    border-color: transparent;
    &:hover {
        background-color: #ccc;
    }
}


.search-btn {
    border: 1px solid #d3d3d3;
    background-color: #f8f8f8;
    border-radius: 0 40px 40px 0;
    border-left: none;
    cursor: pointer;
    height: 40px;
    width: 64px;
    margin: 0;

    &:hover {
        background-color: #ccc;
    }
}
